*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px black; */
}

/***************************************************
palette
***************************************************/
/* Color Theme Swatches in Hex */



/***************************************************
variables
***************************************************/

/***************************************************
utility
***************************************************/


/***************************************************
general
***************************************************/
#boxWrapper
{
    max-width: 800px;
    margin: 50px auto;
    background-color: var(--ms-dark);
}

.box_number
{
    height: 50px;
    aspect-ratio: 1;
}
    
.bg_primary
{
    background-color: #44803F;
}

.bg_number
{
    background-color: #B4CF66;
}

.bg_fizz
{
    background-color: #FFEC5C;
}

.bg_buzz
{
    background-color: #146152;
}

.bg_fizzbuzz
{
    background-color: #FF5A33;
}