*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px black; */
}

/***************************************************
palette
***************************************************/


/***************************************************
variables
***************************************************/


/***************************************************
utility
***************************************************/


/***************************************************
general
***************************************************/
#boxWrapper
{
    max-width: 800px;
    margin: 50px auto;
    background-color: var(--ms-dark);
}

.box_number
{
    height: 50px;
    aspect-ratio: 1;
    background-color: red;
}